# mm32 utility
*.log

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.crun
*.dni
*.jlink
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.axf
*.tra
JLinkLog.txt
*.iex
*.htm
*.pbi
*.pbi.cout
*.cout
*.browse
*.linf
*.pbd
*.TMP
*.uvguix.*
*.uvmpw.uvgui.*
*.scc
*.sim
*.i
*.pbi.xcl
*.pbd.linf
*.wsdt
*.dbgdt
*.wspos
*.Debug.general.xcl
*.Debug.driver.xcl

# IAR Temp files
*.dep
*.ewt
*.dnx
*.ps1
*.pbw
*.xml
*.xcl
*.bat
*.ninja*
